<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}UP Research Project Tracking System{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        {% endblock %}
            
        {% block customcss %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            
            {% block navbar %}
                <header class="navbar navbar-default navbar-fixed-top">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="{{ path('cb_main_homepage') }}">UP Research Project Tracking System</a>
                    </div>
                    <div class="navbar-collapse collapse navbar-responsive-collapse">
                      <ul class="nav navbar-nav">
                          {# Proponents Links #}
                          {% if app.user %}
                              <li class="{% if app.request.attributes.get('_route') == 'cb_dashboard' %}active{% endif %}"><a href="{{ path('cb_dashboard') }}">Projects</a></li>
                          {% endif %}
                        <li class="{% if app.request.attributes.get('_route') == '/grant' %}active{% endif %}"><a href="/grant">Grants</a></li>
                        <li class="{% if app.request.attributes.get('_route') == '/help' %}active{% endif %}"><a href="/help">Help</a></li>
                        <li class="{% if app.request.attributes.get('_route') == '/about' %}active{% endif %}"><a href="/about">About</a></li>
                        {#
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Dropdown header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                          </ul>
                        </li>
                        #}
                      </ul>
                      <ul class="nav navbar-nav navbar-right" style="padding-right: 15px;">
                          {# Login/Signup buttons #}
                            {% if app.user %}
                                <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ app.user.firstName }} <b class="caret"></b></a>
                                  <ul class="dropdown-menu">
                                    <li><a href="{{ path('cb_dashboard') }}">Dashboard</a></li>
                                    <li><a href="#">Profile</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('logout') }}">Log Out</a></li>
                                  </ul>
                                </li>
                            {% else %}
                                <li><a href="{{ path('login') }}">Log In</b></a></li>
                            {% endif %}
                      </ul>
                    </div>
                  </header>
            {% endblock %}

            <div class="row" style="padding-top:65px;">
                <div class="col-xs-12">
                    {% block body %}
                        <div class="row">
                            <div class="col-xs-12">
                                <a href="#" class="thumbnail" style="background-color: grey; width: 900px; height: 200px; margin:0px auto;">
                                </a>
                            </div>
                        </div>
                        
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-xs-8">
                                <h1>Announcements</h1><hr>
                                
                                {% if announcements %}
                                {% for announcement in announcements %}
                                    <h3>{{ announcement.announcementTitle }}</h3>
                                    <small>Posted on {{ announcement.createTimestamp | date('Y-m-d H:i:s') }} by {{ announcement.account.firstName }} {{ announcement.account.lastName }}</small>
                                    <div style="padding-top: 10px;">{{ announcement.announcementMessage }}</div>
                                    <hr>
                                {% endfor %}
                                {% else %}
                                    No announcements so far.
                                {% endif %}
                                
                            </div>
                            <div class="col-xs-4 well">
                                {#
                                {% if error %}
                                    <div>{{ error.message }}</div>
                                {% endif %}
                                
                                <form class="form-horizontal" action="{{ path('login_check') }}" method="post">
                                    <div class="form-group">
                                        <label for="username" class="col-sm-4 control-label">Email Address:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="col-sm-4 control-label">Password:</label>
                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" id="password" name="_password" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-4 col-sm-8">
                                            <button type="submit" class="btn btn-default">Login</button>
                                            <a href="{{ path('cb_new_account_form') }}" class="btn btn-default">Sign Up</a>
                                        </div>
                                    </div>

                                </form>

                                #}
                             </div>
                        </div>
                        
                    {% endblock %}
                </div>
            </div>
            
            {% block footer %}
            <div class="row">
                
            </div>
            {% endblock %}
            
            {% block javascripts %}
                <script src="{{ asset('js/jquery.js') }}"></script>
                <script src="{{ asset('js/bootstrap.js') }}"></script>
            {% endblock %}
                
            {% block customjs %}
                
            {% endblock %}
        </div>
    </body>
</html>
