{% if grant %}

    <div class="row">
        <div class="col-xs-12"><h1>{{ grant.grantName }}</h1></div>
    </div><br>
    <small>
    <div class="row">
        <div class="col-xs-3" style="font-weight: bold;">Grant Amount (in pesos):</div><div class="col-xs-9  ">{{ grant.grantAmount }}</div>

    </div>
    <div class="row">
        <div class="col-xs-3" style="font-weight: bold;">Type:</div><div class="col-xs-9">{{ grant.grantType }}</div><br>

    </div>
    <hr>

    </small>

    <div class="row" style="margin:30px auto;">{{ grant.grantDescription }}</div>

    {% if grant.grantSource is not empty %}
        <div class="row well">
            <h5 style="font-weight: bold;">Downloads</h5>
            <small><ul>
                    {% for source in grant.grantSource %}
                        <li><a href="{{ asset(source.WebPath) }}">
                                {{ source.grantSourceName }}
                            </a></li><br>
                    {% endfor %}
                </ul></small>
        </div>
    {% endif %}

{% endif %}