{% if instance %}

    <div class="panel panel-default">
        <div class="panel-body">

        {% if app.request.attributes.get('user') == 'proponent' %}
        <a href="{{ path('cb_submit_project_to_phase_instance',{'project':project.projectId, 'phase':instance.phaseInstanceId}) }}" class="btn btn-default" style="float: right; display:block;">Submit for Review</a>
        {% endif %}

        <h3>
        <a href="
        {% if app.request.attributes.get('user') == 'funder' %}
            {{ path('cb_phase_instance_permalink',{'user':app.request.attributes.get('user'), 'phase':instance.phaseInstanceId }) }}
        {% else %}
            {{ path('cb_phase_project_permalink',{'user':app.request.attributes.get('user'), 'phase':instance.phaseInstanceId, 'project':app.request.attributes.get('project') }) }}
        {% endif %}
        ">{{ phase.phase.phaseTitle }}</a>
        </h3><hr>
            <small>
                <div class="row">
                    <span class="col-xs-2"><strong>Start Date: </strong></span><span class="col-xs-10">{{ phase.startDate | date('Y-M-d H:i:s') }}</span><br>

                </div>
                <div class="row">
                    <span class="col-xs-2"><strong>End Date: </strong></span><span class="col-xs-10">{{ phase.endDate | date('Y-M-d H:i:s') }}</span>
                </div>
            </small>
            {% if phase.notes %}<hr> <div class="row">{{ phase.notes }}</div>{% endif %}

            {% if app.request.attributes.get('user') == 'proponent' %}
            <div class="well well-sm" style="margin: 25px 0;">
                {% for source in instance.phase.grantPhaseRequiredDocument %}

                    <strong>
                        {% set c = 0 %}
                        {% for document in project.projectDocuments %}
                            {% if document.phaseInstance == instance and document.grantDocument == source %}
                                <a href="{{ asset(document.getWebPath) }}">{{ source.requiredDocumentsName }}</a>
                                {% set c = c + 1 %}
                            {% endif %}
                        {% endfor %}
                        {% if c == 0 %}{{ source.requiredDocumentsName }}{% endif %}
                    </strong> - {{ source.requiredDocumentsDescription }} {% if c == 0 %}(<a href="{{ path('cb_proponent_upload_document', {'phase':instance.phaseInstanceId, 'project':app.request.attributes.get('project'), 'document':source.grantDocumentId}) }}">Upload</a>){% endif %}
                    <br>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>


{% endif %}