{% extends '::base.html.twig' %}

{% block body %}

    {% if grant %}
        {% include('CBGrantBundle:Template:GrantInfo.html.twig') with {'grant':grant} %}


        <div class="row well">
            <h4>Current Phase</h4><hr>
            (( Show phase ))
        </div>

        {# display "Grant Cycles" #}
        <div style="margin: 30px auto;">

            <div class="row well">

                <!-- Nav tabs -->
                <ul class="nav nav-pills nav-stacked col-xs-3">
                    {% if grant.grantCycle is not empty %}
                        {% for cycle in grant.grantCycle %}
                            <li><a href="#{{ cycle.grantCycleId }}" data-toggle="tab">{{ cycle.grantCycleTitle }}</a></li>
                        {% endfor %}
                        <hr>
                    {% endif %}

                    <li><a href="#add-cycle" data-toggle="tab">Add Grant Cycle</a></li>

                </ul>

                <!-- Tab panes -->
                <div class="tab-content col-xs-9">
                    {% if grant.grantCycle is not empty %}
                        {% for cycle in grant.grantCycle %}
                            <div class="tab-pane fade" id="{{ cycle.grantCycleId }}">
                                {% if cycle.phase is not empty %}
                                    {% for phase in cycle.phase %}
                                        <div class="well">

                                         <a href="#" class="btn btn-default" style="float: right;">Edit</a>
                                         <h3>{{ phase.phaseTitle }}</h3>
                                        {% if phase.grantPhaseRequiredDocument is not empty %}
                                            <h5>Required Documents</h5><hr>
                                            {% for document in phase.grantPhaseRequiredDocument %}
                                                <strong>{{ document.requiredDocumentsName }}</strong> - <small>{{ document.requiredDocumentsDescription }}</small>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% if cycle.grantCycleInstance is empty %}

                                    <a href="#" class="btn btn-default">Add Phase</a><hr>
                                {% endif %}
                                <a href="{{ path('cb_grant_instance', {'id':cycle.grantCycleId}) }}" class="btn btn-default">View instances under this cycle</a>
                                <a href="#" class="btn btn-default">Edit Name of Cycle</a>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div class="tab-pane fade" id="add-cycle">
                        {{ form_start(cycle_form, {'style':'horizontal'}) }}
                        {{ form_end(cycle_form) }}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row" style="margin: 0px auto;">No grant selected.</div>
    {% endif %}

{% endblock %}